.Nav {
    margin-bottom: 10px;
}

.neon-nav {
    font-family: neon-sign;
    font-size: 20px;
    color: rgba(90, 49, 101)
}

.neon-nav:hover {
    color: #CA6EE2;
    text-shadow: .1vw 0vw .25vw #CA6EE2, .2vw 0vw .25vw #CA6EE2, .1vw 0vw 0vw #be4ddb, .2vw 0vw 0vw #be4ddb, .1vw 0vw .1vw #be4ddb, .2vw 0vw .1vw #be4ddb, .1vw 0vw 2vw #be4ddb, .2vw 0vw 2vw #be4ddb, .1vw 0vw 1vw #b22dd5, .2vw 0vw 1vw #b22dd5, .1vw 0vw 5vw #b22dd5, .2vw 0vw 20vw #b22dd5, .1vw 0vw 10vw #b22dd5, .2vw 0vw 30vw #b22dd5;
}