@font-face {
  font-family: neon-sign;
  src: url(../../Clip.ttf)
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.neon-text {
  font-family: neon-sign;
  font-size: 48px;
  color: #ffd8d8;
  text-shadow: .1vw 0vw .25vw #ffd8d8, .2vw 0vw .25vw #ffd8d8, .4vw 0vw .25vw #ffd8d8, .1vw 0vw 0vw #F181B2, .2vw 0vw 0vw #F181B2, .4vw 0vw 0vw #F181B2, .1vw 0vw .1vw #F181B2, .2vw 0vw .1vw #F181B2, .4vw 0vw .1vw #F181B2, .1vw 0vw 2vw #F181B2, .2vw 0vw 2vw #F181B2, .4vw 0vw 2vw #F181B2, .1vw 0vw 1vw #F20B70, .2vw 0vw 1vw #F20B70, .4vw 0vw 5vw #F20B70, .1vw 0vw 5vw #F20B70, .2vw 0vw 20vw #F20B70, .4vw 0vw 10vw #F20B70, .1vw 0vw 10vw #F20B70, .2vw 0vw 30vw #F20B70, .4vw 0vw 10vw #F20B70;
}

.App-header {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #282c34;
  background-color: black;
}

.App-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-component {
  border: 1px solid black;
  border-radius: 3px;
  height: 200px;
  width: 300px;
}

.App-link {
  color: #61dafb;
}

.list-item {
  border: 1px solid #282c34;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}